<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misuri fundings</title>
    
    <!--------------css------------------------>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/funding.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <!--------------Scripts------------------------>
  	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  
  <script src="js/funding.js"></script>
  <script src="js/commonFunctions.js"></script>
</head>
<body>
  <div class="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="vMain.html">Misuri Fundings</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto"></ul>
			  <form class="form-inline my-2 my-lg-0">
			  	<a href="vNewFunding.html" type="button" class="btn btn-info formBtn mr-2" id="newFundingButton">Nuevo funding</a>
				<button type="button" class="btn btn-info formBtn" id="logoutButton">Cerrar Sesión</button>
			  </form>
			</div>
		  </nav>
	</div>
  
	<div class="fundingContainer">
		
		<img src="" id="imgFunding">
		
		<div class="fundingData"></div>
		<br>
  </div>
  
  <div class="fundingBelowContent">
  <div class="fundingMoreInfo"></div>
  <div class= "fundingContributions"></div>
  </div>


  <div class="modal fade" id="preguntaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Añadir preguntas</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<h4>Pregunta</h4>
			<br>
		  <input type="text" class="form-control">
		  <h4>Respuesta</h4>
		  <textarea class="form-control"></textarea>		
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		  <button type="button" class="btn btn-primary" id="enviarPregunta">Añadir pregunta</button>
		</div>
	  </div>
	</div>
  </div>
  </div>
</body>
</html>